{% extends 'tasks/layouts/app.html' %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-12 col-sm-8 col-md-8">
            <hr>
            <h3 class="text-muted">Tasks information</h3>
            <table class="table table-bordered">
                <tr>
                    <td class="font-weight-bold">Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Priority</td>
                    <td>{{ object.get_priority_display }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Assigned to</td>
                    <td>{{ object.assigned_to.first_name }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Created by</td>
                    <td>{{ object.created_by.first_name }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Actions</td>
                    <td>
                        <button class="btn btn-outline-warning">Edit</button>
                        <a href="{% url 'tasks:task_delete' object.id %}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}