{% extends 'tasks/layouts/app.html' %}

{% block content %}
    {% load static %}
    <hr>
    {% include 'tasks/elements/user_info.html' %}
    <div class="row mb-3 mt-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <h3 class="text-muted">Welcome, tasks list</h3>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            {% if perms.tasks.add_task %}
                <a class="btn btn-outline-success" href="{% url 'tasks:task_create' %}">Create task</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Priority
                        <small class="text-muted">(Select to change)</small>
                    </th>
                    <th scope="col">Assigned to</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks_from_class_based_views %}
                    <tr data-task-id="{{ task.id }}">
                        <td>
                            <a href="{% url 'tasks:task_detail' task.id %}">
                                {{ task.name }}
                            </a>
                        </td>
                        <td>
                            <select class="form-control task_priority" id="task_priority" data-task-id="{{ task.id }}">
                                <option value="3" {% if task.priority == '3' %} selected {% endif %}>Higher</option>
                                <option value="2" {% if task.priority == '2' %} selected {% endif %}>Medium</option>
                                <option value="1" {% if task.priority == '1' %} selected {% endif %}>Lower</option>
                            </select>
                        </td>
                        <td>{{ task.assigned_to.first_name }}</td>
                        <td>{{ task.created_by.first_name }} - {{ task.created_by|safe }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if perms.tasks.delete_task %}
                                        <a data-task-id="{{ task.id }}"
                                           class="dropdown-item delete_task cursor-pointer">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    {% endif %}

                                    {% if perms.tasks.change_task %}
                                        <a class="dropdown-item edit_task cursor-pointer" data-task-id="{{ task.id }}">
                                            <i class="fa fa-edit"></i> Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var csfr_token_value = '{{ csrf_token }}';
    </script>
    <script src="{% static "tasks/js/tasks/ajax_functions.js" %}"></script>
    <script src="{% static "tasks/js/tasks/delete_functions.js" %}"></script>
    <script src="{% static "tasks/js/tasks/change_priority_functions.js" %}"></script>
{% endblock %}