{% extends 'tasks/layouts/app.html' %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-12">
            <hr>
            <h3 class="text-muted">Welcome, here are your tasks</h3>
            <p>User info: {{ request.user|safe }}</p>

            <table class="table table-bordered">
                <tr>
                    <td>View task:</td>
                    <td><strong>True</strong></td>
                </tr>
                <tr>
                    <td>Add task:</td>
                    <td><strong>{{ perms.tasks.add_task }}</strong></td>
                </tr>
                <tr>
                    <td>Edit task:</td>
                    <td><strong>{{ perms.tasks.change_task }}</strong></td>
                </tr>
                <tr>
                    <td>Delete task:</td>
                    <td><strong>{{ perms.tasks.delete_task }}</strong></td>
                </tr>
            </table>

            {% if perms.tasks.add_task %}
                <a class="btn btn-outline-success" href="{% url 'tasks:create' %}">New</a><hr>
            {% endif %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col hidden-xs-down">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr data-task-id="{{ task.id }}">
                        <td class="hidden-xs-down">{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>
                            {% if task.priority == '3' %}
                                <span class="badge badge-danger">Higher</span>
                            {% elif task.priority == '2' %}
                                <span class="badge badge-warning">Medium</span>
                            {% else %}
                                <span class="badge badge-info">Lower</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if perms.tasks.delete_task %}
                                        <a data-task-id="{{ task.id }}" class="dropdown-item delete_task">
                                            <i class="fa fa-trash"></i> Delete</a>
                                    {% endif %}
                                    <a class="dropdown-item assign_to_user" data-task-id="{{ task.id }}">
                                        <i class="fa fa-plus"></i> Assign to user</a>
                                    {% if perms.tasks.change_task %}
                                        <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "tasks/js/tasks/ajax_functions.js" %}"></script>
    <script src="{% static "tasks/js/tasks/tasks_main_functions.js" %}"></script>
{% endblock %}